.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.messages {
  width: 100%;
}

.message {
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 8px;
}

.sent {
  background-color: rgb(160, 188, 143);
  width: 400px;
  margin-left: 1010px;
}

.received {
  background-color: #E5E5EA;
  width: 400px;
  margin-left: 90px;
}

.inputMessage {
  position: relative;
  height: 30px;
}

.buttonMessage{
  position: relative;
  height: 45px;
  width: 100px;
}

.message-inpu-container {
  align-items: center;
  margin-top: 500px;
  background-color: #f2af58;
  max-width: 500px;
  border-radius: 15px;
  padding: 20px;
  position: fixed;
}
